html {
    font-size: 100%;
}

h1 {
	line-height: 1;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.5;
}

h3 {
	font-weight: 300;
	margin: 0;
}

p {
	font-weight: 400;
}

#main_content {
	padding-left: 0px;
	padding-right: 0px;
	ul {
		font-size: 1.45em;
	}
	height: 100%;
}

.green-text {
	color: #1add00;
}

.purple-text {
	color: #880aa1;
}

.purple2-text {
	color: #3a16af;
}

.blue-text {
	color: #00bdfc;
}

.navbar{
    background-color: #880aa1;
    background-image: linear-gradient(45deg, #3a16af, #880aa1);
}

#footer {
//   position: fixed;
  bottom: 0;
//   left: 0;
  width: 100%;
}

#contact_taglist {
	display: flex;
	flex-wrap: wrap;
}

#contact_taglist .tag {
	margin: 0.5rem 0.75rem 0 0;
}

#contact_taglist .tag:last-child {
	margin-right: 0;
}

#contact_taglist .tag input {
	display: none;
}

#contact_taglist .tag label {
	display: inline-block;
	border: 1px solid #888;
	border-radius: 0.25rem;
	padding: 0.2rem 0.5rem;
	background: #999;
	color: #fff;
}

#contact_taglist .tag label:hover {
	cursor: pointer;
	background: #aaa;
}

#contact_taglist .tag label:active {
	background: #888;
}

#contact_taglist .tag label.on {
	border-color: #e69700;
	background: #f7a800;
}

#contact_taglist .tag label.on:hover {
	background: #f8b911;
}

#contact_taglist .tag label.on:active {
	background: #e69700;
}

/* contact opted-in keywords */
#contact_keyword_list {
	display: flex;
	flex-wrap: wrap;
}

#contact_keyword_list .keyword {
	margin: 0.5rem 0.75rem 0 0;
	border: 1px solid #e69700;
	border-radius: 0.25rem;
	padding: 0.2rem 0.5rem;
	background: #f7a800;
	color: #fff;
}

#contact_keyword_list .keyword:last-child {
	margin-right: 0;
}