#myContainer h2 {
    margin: 1rem 0;
    text-align: center;
}

#myContainer h3 {
    margin: 1rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.step {
    display: none;
}

.currentStep {
    display: block;
}

.phone-display {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 180px;
    max-width: 100%;
    border-left: 12px solid #000;
    border-right: 12px solid #000;
    border-bottom: 12px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottom-phone {
    padding: 1rem;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: medium;
    text-align: left;
}

.contact {
    align-items: flex-start;
}

.contact .message {
    margin-right: 25%;
    margin-left: 1em;
    background-color: #eee;
    position: relative;
}

.contact .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.contact .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

/**** STEPS PROGRESS BAR START ****/
#steps-progress-bar-wrapper {
	border-bottom: 2px solid #880aa1;
}

@media (min-width: 992px) {
	#steps-progress-bar-wrapper.with-video-training {
		display: grid;
		grid-template-columns: 2fr 80px;
	}
}

#steps-progress-bar-wrapper > #videoTrainingIcon {
	display: flex;
	flex-direction: column;
	padding: 0 0 1rem;
	text-align: center;
	justify-content: center;
}

#steps-progress-bar-wrapper > #videoTrainingIcon {
	color: #f00;
	transition: 0.3s ease-in-out;
}

#steps-progress-bar-wrapper > #videoTrainingIcon :hover {
	color: #545454;
	cursor: pointer;
}

#steps-progress-bar-wrapper > #videoTrainingIcon p {
	margin: 0;
	font-size: 0.625rem;
}

#steps-progress-bar {
	counter-reset: step;
	display: flex;
	width: 100%;
	margin: 1rem auto;
	padding: 0;
	position: relative;
	overflow: hidden;
	text-align: center;
}

#steps-progress-bar li {
	position: relative;
	width: 100%;
	list-style-type: none;
}

#steps-progress-bar li i {
	color: #ddd;
}

#steps-progress-bar li p {
	margin-bottom: 0;
	font-size: 0.625rem;
}

#steps-progress-bar li p::before {
	counter-increment: step;
	content: counter(step);
	display: block;
	width: 2em;
	margin: 0.5em auto;
	border-radius: 0.3em;
	padding: 0.3em 0;
	font-size: 1.1em;
	font-weight: 600;
	background: #ddd;
	color: #999;
}

@media (min-width: 992px) {
	#steps-progress-bar li p::after {
		content: '';
		position: absolute;
		width: 84%;
		height: 2px;
		left: -42%;
		bottom: 3em;
		background: #ddd;
	}

	#steps-progress-bar li:first-child p::after {
		content: none;
	}
}

#steps-progress-bar li.active {
	color: #f7a800;
	p {
		color: black;
	}
}

#steps-progress-bar li.active p::before,
#steps-progress-bar li.active p::after {
	background: #f7a800;
	color: #fff;
}

@media (min-width: 992px) {
	#steps-progress-bar-wrapper.with-video-training {
		display: grid;
		grid-template-columns: 2fr 80px;
	}
}

.phone-display {
	display: flex;
	flex-direction: column;
	width: 400px;
	min-height: 180px;
	max-width: 100%;
	border-left: 12px solid #000;
	border-right: 12px solid #000;
	border-bottom: 12px solid #000;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.bottom-phone {
	padding: 1rem;
}

.messages {
	display: flex;
	flex-direction: column;
}

.message {
	border-radius: 20px;
	padding: 8px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	font-size: medium;
	text-align: left;
}


.user {
	align-items: flex-end;
}

.user .message {
	color: white;
	margin-left: 25%;
	margin-right: 1em;
	background: linear-gradient(to bottom, #30cb95 0%, #5bc236 100%);
	background-attachment: fixed;
	position: relative;
}

.user .message.last:before {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	right: -8px;
	height: 20px;
	width: 20px;
	background: linear-gradient(to bottom, #30cb95 0%, #5bc236 100%);
	background-attachment: fixed;
	border-bottom-left-radius: 15px;
}

.user .message.last:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: -10px;
	width: 10px;
	height: 20px;
	background: white;
	border-bottom-left-radius: 10px;
}

#message-contact-count {
	font-size: large;
	width: 400px;
	max-width: 100%;
}

#optin-contact-count {
	font-size: large;
	width: 400px;
	max-width: 100%;
}

/* these must be set as display: flex here instead of using the d-flex class
because d-flex sets !important, which prevents jQuery show/hide */
#no-need-for-message-alert,
#no-need-to-opt-in-alert,
#contact-count-alert,
#message-review-column,
#optin-review-column {
	display: flex;
}

#optinYes-container,
#return-home-wrapper,
#br-opted-in,
#br-not-opted-in,
#blast-error-wrapper,
#try-again-later-wrapper {
	display: none;
}

#mainErrorMessage,
#mainWarningMessage {
	display: flex;
	align-items: center;
}
/* contact tags */
#contact_taglist {
	display: flex;
	flex-wrap: wrap;
}

#contact_taglist .tag {
	margin: 0.5rem 0.75rem 0 0;
}

#contact_taglist .tag:last-child {
	margin-right: 0;
}

#contact_taglist .tag input {
	display: none;
}

#contact_taglist .tag label {
	display: inline-block;
	border: 1px solid #888;
	border-radius: 0.25rem;
	padding: 0.2rem 0.5rem;
	background: #999;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

#contact_taglist .tag label:hover {
	cursor: pointer;
	background: #aaa;
}

#contact_taglist .tag label:active {
	background: #888;
}

#contact_taglist .tag label.on {
	border-color: #e69700;
	background: #f7a800;
}

#contact_taglist .tag label.on:hover {
	background: #f8b911;
}

#contact_taglist .tag label.on:active {
	background: #e69700;
}

/* contact opted-in keywords */
#contact_keyword_list {
	display: flex;
	flex-wrap: wrap;
}

#contact_keyword_list .keyword {
	margin: 0.5rem 0.75rem 0 0;
	border: 1px solid #e69700;
	border-radius: 0.25rem;
	padding: 0.2rem 0.5rem;
	background: #f7a800;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#contact_keyword_list .keyword:last-child {
	margin-right: 0;
}